:root{
    --green1: #2C7664;
    --dark-green: #52AA8A;
    --green2: #1a5446;
    --white: #ffffff;
    --dark-red: #330F0A;
    --red1: #E71D36;
    --red2: #E5CDC8;
}

.pilulered {
    background-color: var(--dark-red) !important;
    color: var(--red1) !important;
}
.rednavbar{
    background-color: var(--red2) !important;
    color:  var(--red1) !important;
}
@keyframes Animatedbar {
    from { width: 30%;}
    to { width: 100%; }
}
@keyframes grow {
    from { transform: scale(1); }
    to { transform: scale(1.2); }
}
/* *{
    border: 1px solid yellow;
} */
body{
    background-color: var(--green1);
    display: flex;
    flex-direction: column;
    margin: 0;

}

#navbar{
    position: fixed;
    width: 100vw;
    display: flex;
    flex-direction: row;
    height: 10vh;
    background-color: #1a54468f;
}
#logo {     
    width: 25vw;
    display: flex;
    padding-left: 3vw;
    justify-content: flex-start;
    align-items: center;
}

#logo > img {
    height: 80%;
    justify-content: center;
    align-items: center;
    border-radius: 70px;
    display: flex;
    


}
.onglet {

    margin-left: 3vw;
    text-decoration: none;
    font-size: 20px;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    background-color: #2C7664;
    font-family: 'matrix';
}

.onglet > a {

    color: var(--white);


}
a:link { 
    text-decoration: none; 
  } 
  a:visited { 
    text-decoration: none; 
  } 
  a:hover { 
    text-decoration: none; 
  } 
  a:active { 
    text-decoration: none; 
  }
  

#right{
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 60px;
    margin: 30px;
}

#second > img {
    width: 100%;
    animation: Animatedbar 2s;
}

#third {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 600px;
    
}
#thirdtitle  {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    background-color: black;
    color: #1a5446;
    border-radius: 20px;
    font-family: 'matrix';
    font-size: 25px;
}

#third-zone {
width: 100%;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: 100px;
}
#thirdtxt {
display: flex;
flex-direction: row;

}




#photocool {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#photocool > a {
    display: flex;
    justify-content: center;
    align-items: center;
}


#photocool > a > img {

    background-color: var(--dark-green);
    border-radius: 5%;
    width: 70%;
    padding: 3px;
}
#ovh:hover {
    animation: grow 1s;
}
#aboutme {
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#fourth {
    background-color: #1a5446;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #ffffff;
   
    
}

p>a:link { 
    text-decoration: none; 
    color: #ffffff;
  } 
  p>a:visited { 
    text-decoration: none; 
    color: #ffffff;
  } 
  p>a:hover { 
    text-decoration: none; 
    color: #ffffff;
  } 
  p>a:active { 
    text-decoration: none; 
    color: #ffffff;
  }



#fifth {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}
#fifth-left {
    width: 40%;
}
#fifth-right {
    width: 40%;
}



#fifth-left > ul {

    list-style: none;
    display:  list-item;
    
    margin-top: 20%;
}

#fifth-right > ul {

    list-style: none;
    display:  list-item;
    
}
#sixth{ 
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 600px;
    align-items: center;
}
#projet-info {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    background-color: black;
    color: #1a5446;
    border-radius: 20px;
    font-family: 'matrix';
    font-size: 25px;
}

  footer {
   
    background-color: black;
    color: var(--green1);
    display: flex;
    justify-content: space-around;
    
    font-size: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    margin: 0;

}

#contactformulaire {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 53vw;

    
    
}

#contact-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input{
    height: 25px;
    width: 400px;
    background-color: #1a5446;
    border-radius: 10px;
}
    
    textarea {
    height: 80px;
}

#todolistlink {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#projectlist { 
    display: flex;
    width: 100vw;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    

}

.project {
    
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-items: center;

}

.projectlink > a {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.projectlink > a > img {
    height: 80px;
}
.projectlink>a:link { 
    text-decoration: none; 
    color: black;
  } 
.projectlink>a:visited { 
    text-decoration: none; 
    color: black;
  } 
.projectlink>a:hover { 
    text-decoration: none; 
    color: black;
  } 
.projectlink>a:active { 
    text-decoration: none; 
    color: black;
  }
.projectdescription>a:link { 
    text-decoration: none; 
    color: black;
  } 
  .projectdescription>a:visited { 
    text-decoration: none; 
    color: black;
  } 
  .projectdescription>a:hover { 
    text-decoration: none; 
    color: black;
  } 
  .projectdescription>a:active { 
    text-decoration: none; 
    color: black;
  }
#seventh {
    display: flex;
    
    justify-content: space-evenly;
    align-items: center;
    background-image: url(./pilule.jpeg);
    background-size: cover;
    height: 800px;
}

#clickme {
    width: 150px;
    height: 100px;
    cursor: pointer;
    margin-top: 200px;
}
#dontclickme {
     width: 150px;
    height: 100px;
    cursor: pointer;
    margin-top: 200px;
}
#top-projet {

    height: 41vh;
    display: flex;
    flex-direction: row;
}
#bot-projet {
    height: 50vh;
    display: flex;
}
#github {
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
#github > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    margin-bottom: 30px;
}
#github > a > img {
 width: 150px;
}
#description-projet {
    width: 60vw;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
#description-projet > p {
    font-size: 20px;
    text-align: justify;
}
#apprentissage {
    width: 30vw;
}
#apprentissage > h1 {
    font-size: 25px;
    text-align: center;
    margin-top: 50px;
}
#apprentissage > ul > li {
    font-size: 30px;
    text-align: justify;
}
#image-projet {
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
#image-projet > img {
    width: 90%;
    height: auto;
    margin-left: 40px;
}
@font-face {
    font-family: 'matrix';
    src: url(./matrix.ttf);
}



@media only screen and (max-width: 768px) {
   

    #right{
        gap: 0px;
        margin-right: 10px ;
        width: 100vw;
    };
    .onglet {
        display: flex;

    }
    .onglet > a {
        font-size: 12px;
        width: 30px;
        align-items: center;
        text-align: center;
        
    }
    #contact {
        margin-right: 150px;
    }
    #third {
        height: auto;
    }
    #thirdtitle,#projet-info {
        width: 50%;
    }
    #thirdtxt {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #photocool {
        width: 100%;
    }
    #fourth > p {
        text-align: center;
    }
    #fifth{
        justify-content: space-between;
    }
    #footer > p {
        font-size: 150px;
        justify-content: space-around;
    }
    #contactformulaire{
        margin-top: 200px;
        margin-bottom: 200px;
    }
}